#time-slider-input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 0.3rem;
}

#time-slider-fillbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  height: 0.3rem;
}

#time-slider-wrapper {
  height: 0.3rem;
}
