/* Hide the popper when the reference is hidden */
/* #tooltip[data-popper-reference-hidden] {
    visibility: hidden;
    pointer-events: none;
  } */

  #arrow,
  #arrow::before {
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgb(66, 66, 66);
    border-top: 1px solid white;
    border-left: 1px solid white;
  }
  
  #arrow {
    visibility: hidden;
  }
  
  #arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }
  #tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
  }
  
  #tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -5px;
  }
  
  #tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
  }
  
  #tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
  }
