#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff !important;
  background-color: RGBA(
    var(--bs-dark-rgb),
    var(--bs-bg-opacity, 1)
  ) !important;
}
main {
  flex: 1 0 auto !important;
}
footer {
  margin-top: auto;
}
header {
  width: 100vw;
}
